* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffce00;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Indie Flower", cursive;
}

.app {
  display: flex;
  flex-flow: column;
  width: 100vw;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.lists {
  display: flex;
  flex: 1;
  width: 100%;
  overflow-x: scroll;
  justify-content: center;
}

.list {
  display: flex;
  flex-flow: column;
  flex: 1;

  width: 100%;
  min-width: 250px;
  max-width: 350px;
  height: 100%;
  min-height: 150px;

  background-color: rgba(0, 0, 0, 0.1);
  margin: 0 15px;
  padding: 8px;
  transition: all 0.2s linear;
  border-radius: 5px;
}

.list-item {
  background-color: #f3f3f3;
  border-radius: 8px;
  padding: 15px 20px;
  text-align: center;
  margin: 4px 0;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25), 4px 4px 10px rgba(0, 0, 0, 0.2);
}
